
<div class="orders view">
    <div class="container">
        <header>
            <h3><span class="glyphicon glyphicon-share"></span>&nbsp;&nbsp;Basic Charts - {{file_add}}</h3>
        </header>
        <br />
        <div class="navbar">
            <ul class="nav navbar-nav">
                <li class="toolbar-item">
                    <a routerink="line-chartL" routerLinkActive="active">
                       <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Line Chart
                    </a>
                </li>
                <li class="toolbar-item">
                    <a routerLink="force-directed-graph" routerLinkActive="active">
                        <span class="glyphicon glyphicon-tags" ></span>&nbsp;&nbsp;Force Directed Graph
                    </a>
                </li>
                <li class="toolbar-item">
                    <a routerLink="bubble-chart" routerLinkActive="active">
                        <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Bubble Chart
                    </a>
                </li>
                <li class="toolbar-item">
                    <a routerLink="parallel-coordinates" routerLinkActive="active">
                        <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;Parallel Coodinates
                    </a>
                </li>
                <li class="toolbar-item">
                    <a routerLink="dc-graphs" routerLinkActive="active">
                        <span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;DC Graphs
                    </a>
                </li>
            </ul>
        </div>
        <div class="container">
            <router-outlet></router-outlet>
            <br/>
            <!--cm-force-directed-graph [name]="name" [data]="data"></cm-force-directed-graph>
            <cm-linechart [name]="name" [data]="data"></cm-linechart-->
        </div>
    </div>
</div>