<div class="view">
	<h4>DC Graphs : </h4>
	<!--div id="cm-parallelcoordinates" class="parcoords" style="width:360px;height:150px"></div-->
    <div id="cm-dc-graphs" class="container">
        <div id="chart-ring-year" style="width:300px; height:300px">
    		<div class="reset" style="visibility: hidden;">selected: <span class="filter"></span>
      		<!--a href="javascript:yearRingChart.filterAll();dc.redrawAll();">reset</a-->
    		</div>
  		</div>
	    <div id="chart-hist-spend" style="width:300px; height:300px">
	      <div class="reset" style="visibility: hidden;">range: <span class="filter"></span>
	        <!--a href="javascript:spendHistChart.filterAll();dc.redrawAll();">reset</a-->
	      </div>
	    </div>
	  	<div id="chart-row-spenders">
	  	  <div class="reset" style="visibility: hidden;">selected: <span class="filter"></span>
	  	    <!--a href="javascript:spenderRowChart.filterAll();dc.redrawAll();">reset</a-->
	  	  </div>
	 	</div>
    </div>
</div>
